/* Bright */
body{
    background: #f8f8f8;
}
img.logo-abbr {
    background: gray;
    border-radius: 5px;
}
#main-wrapper{}
#main-wrapper #header_nav{
    background-color: #fff;
}
#main-wrapper #header_na #header_logotitle{
    color: gray !important;
}
.logo-compact, .brand-title {
    color: gray !important;
}
.nav-header .brand-title {
   color: gray !important;
}
#main-wrapper #header_nav #control_nav{}
#main-wrapper #header_nav #control_na #line_nav{}
#main-wrapper #nav_menu{
    background-color: #fff;
}
[data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .nav-header .nav-control .hamburger .line {
    background-color: #444 !important;
}
[data-headerbg="color_1"] .nav-header .hamburger.is-active .line, [data-headerbg="color_1"] .nav-header .hamburger .line {
    background: #fff !important;
}

[data-sibebarbg="color_3"] .deznav .metismenu > li > a {
    color: #444;
}
[data-sibebarbg="color_3"] .deznav .metismenu a {
    color: #444;
}
[data-sibebarbg="color_3"][data-theme-version="dark"] .deznav .metismenu > li:hover > a, [data-sibebarbg="color_3"][data-theme-version="dark"] .deznav .metismenu > li:focus > a, [data-sibebarbg="color_3"][data-theme-version="dark"] .deznav .metismenu > li.mm-active > a, [data-sibebarbg="color_3"] .deznav .metismenu > li:hover > a, [data-sibebarbg="color_3"] .deznav .metismenu > li:focus > a, [data-sibebarbg="color_3"] .deznav .metismenu > li.mm-active > a {
    color: #fff;
}


[data-sidebar-style="full"][data-layout="vertical"] .deznav .metismenu > li.mm-active > a i {
    color: #fff;
}
[data-sidebar-style="full"][data-layout="vertical"] .deznav .metismenu > li.mm-active > a {
    background: #666;
    color: #fff;
    box-shadow: 4px 0px 1px 0 rgb(129 122 125 / 13%);
}
[data-sibebarbg="color_3"] .deznav .metismenu a.mm-active {
    color: #444;
    background: #f1f1f1;
}
[data-sibebarbg="color_3"] .deznav .metismenu a:hover {
    color: #fff;
    background-color: #666;
}
[data-sibebarbg="color_3"] .deznav .metismenu > li > a:hover {
    color: #fff;
}
[data-headerbg="color_1"] .nav-header .hamburger .line {
    background: #666 !important;
     color: #fff;
}
#main-wrapper .header{
    background-color: #f3f3f3;
}
#main-wrapper .header .header-left .header_bar{
    background-color: #fff;
}
#main-wrapper .header .header-left .header_bar .office_name{
  color: #444;
}
#main-wrapper .header .header-left .header_bar .licene_no{
  color: #444;
}
#main-wrapper .header .current_time{
  color: #444;
  background-color: #f3f3f3;
}
#main-wrapper .header .header-left .header_bar .doc_num{
  color: #444;
}

#main-wrapper .header .header-right .header-info .user_name{
  color: #444;
}

#main-wrapper .header .header-right .header-info #ourTime{
  color: #444;
}
.page-titles {
    background: #f4f4f4;
}
.deposit_sum{
    background: #fff;
}
.card_line{
    background-color: #fff;
    border: 1px solid #fff;
}
.card_headline{
    background-color: #ddd;
    border-color: #999;
}
.card_headline .headline{
    color: #333;
}
.mybtn .submitbtn{
    background: gray;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.mybtn .submitbtn:hover{
    background: #ddd;
    color: #666;
}
.mybtn button{
    background: gray;
    color: #fff;
}
.mybtn button:hover{
    background: #ddd;
    color: #666;
}
.inline_setup {
    color: #999;
    border-radius: 5px;
}
input[type='text']{
    box-shadow: 0 0 0 0;
    box-sizing: border-box;
}
.select2-container--default {
    border-radius: 5px;
}
#example thead tr th, #example2 thead tr th, #example3 thead tr th, #example4 thead tr th, #example5 thead tr th{
    background: #ddd;
    color: #444;
}
#example, #example2, #example3, #example4, #example5 {
/*     color: #fff; */
/*     background: #333; */
}
.dataTables_wrapper .dataTables_paginate .paginate_button.previous, .dataTables_wrapper .dataTables_paginate .paginate_button.next {
    background: #777;
}
/* #example tr:nth-child(2n+1) td, #example2 tr:nth-child(2n+1) td, #example3 tr:nth-child(2n+1) td, #example4 tr:nth-child(2n+1) td, #example5 tr:nth-child(2n+1) td {
    background: #999 !important;
    color: #fff;
} */
file-tab .nav-item .nav-link:hover, .profile-tab .nav-item .nav-link.active {
    background: #fff;
    border-bottom: 0.2px solid #fff;
    color: #444;
}
.profile-tab .custom-tab-1 ul li a.active {
    background-color: #444;
    color: #999;
}
.page-titles h4 {
    color: #999;
}
.profile-info h4 {
    color: #999 !important;
}
.profile-personal-info h4{
    color: #999 !important;
    font-weight: bold;
}
.settings-form h4{
    color: #444 !important;
    font-weight: bold;
}
.profile-tab .nav-item .nav-link {
    color: #828690;
}
.profile-tab .nav-item .nav-link:hover{
    border-bottom: 0.2px solid #444;
    color: #444;
}
.profile-tab .nav-item .nav-link.active {
    border-bottom: 0.2px solid #444;
    color: #999;
}
.default-tab .nav-link:focus, .default-tab .nav-link:hover, .default-tab .nav-link.active {
    border-color: #dee2e6 #dee2e6 #999 #ebeef6;
    color: #444;
}
.default-tab .nav-link i {
    color: #444;
}
.basic_headline{
    border: 1px solid #999;
    background: #999;
    color: #fff;
}
.basic_headline:hover{
  background: #ddd;
  color: #666;
}
.tranprint{
    background-color: #999;
    color: #fff;
}
.tranprint:hover{
  background: #ddd;
    color: #666;
}
.img_new{
  border: 1px solid #999;
}
.dashbtn{
  color: #555;
}
.dashbtn:hover{
  color: #555;
}
.back_button:hover{
  background: #F7941D;
  color: #555;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.next:hover {
    background: #666;
    color: #fff !important;
}
.datasearch{
  border: 1px solid #666;
}
.transaction{
    background-color: #666;
    color: #fff;
}
.user_activity{
  color: #fff;
  background-color: #666;
}

[data-sibebarbg="color_3"][data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .deznav .metismenu li > ul, [data-sibebarbg="color_3"][data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .deznav .metismenu > li.mm-active > a, [data-sibebarbg="color_3"][data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .deznav .metismenu > li:hover > a {
    background-color: #999;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #999;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #444;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #999;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    background-color: #333;
}
.dashboard_area{}
.dashboard_area .das_headeing {
    background-color: #999;
}
.dashboard_area .welcome_area{
  background-color: #ddd;
}
.dashboard_area .welcome_area h4{
  color: #666;
}
.dashboard_area .welcome_content{
  color: #999;
}

.footer {
    background-color: #ddd;
}
.footer .copyright {
    color: #999;
}
.footer .copyright a {
    color: #000;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #555;
}

[data-sibebarbg="color_3"][data-theme-version="dark"][data-sidebar-style="mini"][data-layout="vertical"] .deznav .metismenu > li.mm-active > a, [data-sibebarbg="color_3"][data-theme-version="dark"][data-sidebar-style="mini"][data-layout="vertical"] .deznav .metismenu > li:hover > a, [data-sibebarbg="color_3"][data-sidebar-style="mini"][data-layout="vertical"] .deznav .metismenu > li.mm-active > a, [data-sibebarbg="color_3"][data-sidebar-style="mini"][data-layout="vertical"] .deznav .metismenu > li:hover > a {
    background-color: #666;
}
[data-sibebarbg="color_3"][data-theme-version="dark"][data-sidebar-style="mini"][data-layout="vertical"] .deznav .metismenu li > ul, [data-sibebarbg="color_3"][data-sidebar-style="mini"][data-layout="vertical"] .deznav .metismenu li > ul {
    background-color: #666;
}
@media only screen and (min-width: 768px) {
    [data-sidebar-style="mini"][data-layout="vertical"] .deznav .metismenu > li.mm-active > a {
        background: #666;
        color: #fff;
    }
}